* {
	box-sizing: border-box;
}

body {
	background-color: #faf9f4;
}

.header {
	font-family: 'Print Clearly';
	font-size: 22px;
	text-transform: uppercase;
	margin-left: 30px;
	margin-top: 55px;
}

.header-link {
	color: #404040;
	text-decoration: none;
	
}

.nav {
	float: right;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 100;
	font-size: 16px;
	text-transform: uppercase;
	margin-top: -50px;
	margin-right: 30px;
	margin-bottom: 60px;
}

.nav-button {
	color: black;
	padding: 10px;
}

.nav-button:hover {
	color: #404040;
}

.nav-button:active {
	color: #404040;
}

.nav-button {
	text-decoration: none;
}

ul {
	list-style: none;
}

ul li {
	display: inline-block;
}

.wrapper {
	clear: right;
	width: 100%;
	padding-left: 40px;
}

.wrapper ul {
	list-style: none;
}

.wrapper ul li {
	display: block;
}

h4 {
	font-family: 'Print Clearly';
	font-size: 25px;
	margin-bottom: 5px;
}

h5 {
	font-family: 'Print Clearly';
	font-size: 20px;
}

.address {
	text-decoration: none;
	color: blue;
	font-style: italic;
}


