* {
	box-sizing: border-box;
}

body {
	background-color: #faf9f4;
}

.header {
	font-family: 'Print Clearly';
	font-size: 22px;
	text-transform: uppercase;
	margin-left: 30px;
	margin-top: 55px;
	width: 260px;
}

.header-link {
	color: #404040;
	text-decoration: none;
	
}

.nav {
	float: right;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 100;
	font-size: 16px;
	text-transform: uppercase;
	margin-top: -50px;
	margin-right: 30px;
	margin-bottom: 60px;
}

.nav-button {
	color: black;
	padding: 10px;
}

.nav-button:hover {
	color: #404040;
}

.nav-button:active {
	color: #404040;
}

.wrapper {
	clear: right;
	width: 100%;
}


img {
	width: 270px;
	height: 270px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	float: left;
}

.image-link {
	color: #404040;
	text-decoration: none;
}


h4 {
	font-family: 'Montserrat';
  	font-style: normal;
 	font-weight: 400;
 	font-size: 14px;
 	text-transform: uppercase;
 	text-align: center;
}

.nav-button {
	text-decoration: none;
}

ul {
	list-style: none;
}

ul li {
	display: inline-block;
}







