* {
	box-sizing: border-box;
}

body {
	background-color: #faf9f4;
}

.name {
	color: black;
}

a.name {
	text-decoration: none;
}

.nav {
	float: right;
}

.wrapper {
	clear: right;
}

.image {
	width: 270px;
	height: 270px;
	margin: 10px;
	float: left;
}

.image-name {
	font-family: 'Montserrat';
  	font-style: normal;
 	font-weight: 400;
 	text-transform: uppercase;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

ul li {
	display: inline-block;
}







