* {
	box-sizing: border-box;
}

.name {
	position: relative;
	border: 2px solid black;
	width: 250px;
}

/*Text-decoration doesn't work*/

a h1:hover {
	text-decoration: none;
}

/*Color works*/

a h1:hover {
	color: blue;
}

h1 {
	color: black;
	border: 2px solid black;
}

.nav {
	float: right;
	border: 2px solid black;
	margin-top: 0;
}

ul.nav {
	list-style: none;
	padding: 0;
	color: black;

}

ul.nav li {
	display: inline;

}

li a:link {
	text-decoration: none;
	color: black;
}

li a:hover {
	color: blue;
}

.wrapper {
	display: inline-block;
	margin: 0 auto;
	float: left;
	clear: both;
	border: 2px solid black;
}

img {
	width: 270px;
	height: 270px;
	margin: 10px;
}

.img1 {
	float: left;
}

.img2 {
	float: left;
}

.img3 {
	float: left;
}

.img4 {
	float: left;
}










